{% extends './../includes/base.html' %}


{% block content %}
<div class="pagetitle">
    <h1>Client Family Composition</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Client Family Composition History</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            {% include './../includes/message.html' %}
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="card-title">Family Composition Table</h5>
                            <p>Manage family composition information.</p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>Fullname</th>
                                    <th>Contact</th>
                                    <th>Gender</th>
                                    <th>Date of Birth</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in beneficiaries %}
                                <tr>
                                    <td>{{ item.get_fullname }}</td>
                                    <td>{{ item.contact_number }}</td>
                                    <td>{{ item.gender }}</td>
                                    <td>{{ item.birth_date }}</td>
                                    <td>
                                        <div class="filter">
                                            <a
                                                class="icon text-dark"
                                                href="#"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="true"
                                            >
                                                <i class="bi bi-three-dots"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" data-popper-placement="top-end" data-popper-reference-hidden="">
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'update_beneficiary' pk=item.id %}">Update</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'remove_beneficiary' pk=item.id %}">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
